/*
Useful Color Values:
	relit maroon: #780001
	relit orange: #f1592a
	charcoal background: #3d3c3e;

*/

@font-face {
    font-family: 'Aleo Light';
    src: url("../fonts/Aleo-Light.otf");
}

body {
	font-family: 'Source Sans Pro', serif;
}

@media (min-width: 768px) {
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	    color: #555;
	    border-bottom: 2px solid #f1592a;
	    font-weight: bold;
	    background:none;
	}
}

h1, h2, h3 {
	font-family: 'Aleo Light', sans-serif;
}

h1 {
    /*
    background: url('../img/h1-bg-orange.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% 100%;
    display: inline-block;
    padding: 8px 0 10px 0;
    */
    color:#780001;
}


h2 {
	/*text-align:center; */
	font-weight: bold;
	color: #780001;
}


/* spacing for full width columns */
@media (max-width: 767px) {
	.row .col-sm-6, .row .col-sm-4, .row .col-sm-3, .row .col-sm-2 {
		margin-bottom:15px;
	}
}

@media (max-width: 991px) {
	.row .col-md-6, .row .col-md-4, .row .col-md-3, .row .col-md-2 {
		margin-bottom:15px;
	}
}

blockquote {
    padding: 5px 10px;
    margin: 0 0 15px 0;
    font-size: 1em;
    border-left: 5px solid #780001;
    font-weight: bold;
    color: #780001;
}

.embed-responsive {
	border: 2px solid #C7AFAF;
}

.side-graphic {
	max-height: 200px;
}

img {
	max-width: 100%;
}

img.page-bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	z-index:-2;
	top: 0;
	left: 0;
}

img.circle {
	border-radius:50%;
}

.grey-bg {
	background-color:#3d3c3e;
}

.text-white {
	color:#fff;
}

.text-relit-maroon {
	color:#780001;
}

.text-relit-orange {
	color:#f1592a;
}

.bg-relit-maroon {
	background-color:#780001;
}

.bg-relit-orange {
	background-color:#f1592a;
}

.main {
	position:relative;
	z-index:1;
	padding-top:40px;
	min-height:700px;
}

.main a {
	color:#780001;
}

.grey-box {
	background: url('../img/opacity-50.png');
	padding:20px;
	color:#fff;
	border-radius:5px;
}

section {
	padding-bottom: 2em;
}

.row {
	padding-bottom:20px;
}

.stripe h3 {
	margin-top:0;
	font
}
.stripe .row > div {
	/* use with .bg-relit-maroon, .text-relit-orange, or some other color */	
	padding:30px 0;
	text-align:center;
}

.stripe i.fa {
	font-size:30px;
}

header.intro {
	position:relative;
	overflow:hidden;
}

header img.bg {
	min-height: 100%;
	min-width: 1000px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: absolute;
	top: 0;
	left: 0;

	z-index: -1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  header img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

@media screen and (min-width: 1024px) {
	header {
		min-height:450px;
	}
}

@media screen and (min-width: 1200px) {
	header {
		min-height:550px;
	}
}


/*scrolling text styles */

.sliding-text-static {
	font-size:32px;
	text-align:center;
	color:#fff;
}

.sliding-text-wrapper{
    position:relative;
    height:46px;
    font-size:40px;
    text-align:center;
    color:#fff;
}
.sliding-text > div{
    position:absolute;
    width:100%;
    transition: opacity 1.5s, transform 1s;
}
.sliding-text > div.top-stack {
    transform: matrix(1, 0, 0, 1, 0, 0);
    
}
.sliding-text > div.bottom-stack {
    transform: matrix(1, 0, 0, 1, -100, 0)
}

.sliding-text > div.opacity1 {
    opacity:1;
}

.sliding-text > div.opacity0 {
    opacity:0;
}

/*end scrolling text styles */

#home-scroll-down {
	width:50px;
	display:block;
	margin:0 auto;
	cursor:pointer;
}

.video {
    min-height: 715px;
    min-width: 100%;
}

.relit-logo-large {
	width:120px;
	max-width:80%;
	margin:0 auto;
	display:block;
	margin-top:50px;
	padding-top:25px;
}

.catchphrase {
	font-weight:normal;
	font-size:1.4em;
	color:#650000;
	text-align:center;

}

/* section backgrounds */

/* I DON'T LIKE THIS!!
	#intro-icons {
		background: url('../img/red-people-bg.jpg') no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
*/


/* relit specific buttons & links*/

.relit-link {
	border-bottom: 2px dotted #780001;
	text-decoration: none;
	color: #780001;
	font-weight:bold;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
}

.relit-link:hover {
  color: #780001;
  border-bottom: 2px dotted #780001;
  text-decoration: none;
}

.relit-btn, .relit-btn:visited {
	cursor: pointer;
	margin: 10px;
	border-radius: 5px;
	text-decoration: none;
	padding: 7px;
	font-size: 22px;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	display: inline-block;
}

.relit-btn:hover, .relit-btn:active, .relit-btn:focus {
	text-decoration: none;
} 

.relit-btn-maroon, .relit-btn-maroon:visited  {
	color: #780001;
 	border: 2px #780001 solid;
}

.relit-btn-maroon:hover, .relit-btn-maroon:active {
	color: #fff;
	background-color: #780001;
}

.relit-btn-orange, .relit-btn-orange:visited  {
	/*color: #f1592a;*/
	color:#fff;
 	border: 2px #f1592a solid;
 	background-color:#f1592a;
}

.relit-btn-orange:hover, .relit-btn-orange:active {
	/*color: #fff;*/
	/*background-color: #f1592a;*/
	border: 2px #780001 solid;
}

.feature-table td {
	padding:10px;
	color:#000;
	font-size:16px;
}

/* video */

.white-cover {
	display:none;
	width:100%;
	height:100%;
	background-color:#ffffff;
	position:absolute;
	top:0;
	left:0;
}

.white-cover img {
	position: absolute;
	height:75px;
	top:50%;
	left:50%;
	margin:-37px 0 0 -20px;
	opacity:0.5;

}

.video-playlist {
	border-color:#808080;
	border-width: 1px 0;
	width:100%;
}

.video-thumb {
	position:relative;
}

.thumb-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.thumb-container img {
	max-width:100%;
	border:2px solid #780001;
	border-radius: 10px 0 10px 0;
}

.thumb-container i {
	font-size:29px;
	margin:0 auto;
	color: #780001;
}

.thumb-overplay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    top: 50%;
    margin-top:-15px;
}

.thumb-container.video-selected img {
	border-color:#f1592a;
}

.thumb-container.video-selected .thumb-overplay {
	display:block;
}

/* downloads section */

.downloadSection {
	margin-bottom: 20px;
	text-align: center;
 	overflow: hidden;
 	text-overflow: ellipsis;
}

.downloadSection img {
	max-width:100%;
	border:1px solid #dfdfdf;
}

/* michael dopp section */

.org-bar {
	text-align:center;
}

.org-bar img {
	max-width:100%;
	max-height:70px;
	margin:15px;
}

/* footer styles */

footer {
	/* allows for fixed position (persistant) footer */
	margin-top: 140px ;
}

.persistant-footer {
    background-color: #3d3c3e;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    border-width: 2px 0 0 0;
    border-color: #f1592a;
    border-style: solid;
    color:#fff;
    font-size:16px;
    text-align:right;
    line-height:50px;
}

.persistant-footer a {
	color:#fff !important;
	border-bottom: 2px dotted #f1592a;
}

.persistant-footer a:hover {
	text-decoration: none;
}

.persistant-footer .row {
	padding-bottom:0;
}

.persistant-footer img {
	max-height:50px;
	max-width:100%;
	display:block;

	/* too make the logo feel more centered */
	position:relative;
	top:-5px;
}

.footer-logo {
	margin-right: 20px;
}

.footer-text br {
	display:none;
}

@media (max-width: 375px) {
	.footer-text {
		line-height:25px;
	}
	.footer-text br {
		display:block;
	}
}

@media (max-width: 767px) {

	footer {
		margin-top:0;
	}

	.persistant-footer {
		position:static;
	}
}

/*
footer {
	background-color:#373737;
	color:#fff;
}

footer a {
	color:#fff;
}

footer div.stripe {
	background-color:#555;
	text-align:center;
}

footer div.stripe .row > div {
	padding: 15px 0 5px 0;
}

footer div.stripe img {
	display:inline-block;
	padding: 15px;
	height:85px;
	max-width:100%;
}

.footer-list {
	padding-top:20px;
}
*/