############################################
## default index file

DirectoryIndex index.html

# BEGIN EXPIRES
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css "access plus 5 seconds"
    ExpiresByType text/html "access plus 10 seconds"
</IfModule>
# END EXPIRES